<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="main-content" >
    {{>header}}
    <p>THis site was vreated by Vaibhav Kesarwani.It uses data from Mapbox and Darksy.net! </p>
    <img class="potrait" src="image/1585164167069.jpg" alt="me">
</div>

    {{>footer}}
</body>
</html>